.env
node_modules
.env.dev
.env.production
*dist
index.html
SQL
.DS_Store
errors.log
test
*test
*.log
logs
package-lock.json
.vscode/launch.json

/generated/prisma
src/generated

k8s/secret.yaml
k8s/*.secret.yaml
.claude
.agents
.cursor
audios
